.scroll-container-left {
    display: none;
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding-top: 6vh;
}

.scroll-wrappers-left {
    display: flex;
    animation: scrollleft 12s linear infinite;
    /* Adjusted duration for smoother scroll */
}

.scroll-image-left {
    width: 40vw;
    border-radius: 25px;
    padding: 0px 10px;
}

@media only screen and (max-width: 1100px) {
    .scroll-container-left {
        display: block;
    }
}

/* Keyframes for the endless scroll */
@keyframes scrollleft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-45vw * 8));
    }
}